body {
  margin: 0;
}

p {
  margin: 0;
  color: #929291;
  font-weight: bold;
  font-family: MuliLight;
}

a {
  text-decoration: none;
  color: #929291;
}

.logo {
  font-size: 40px;
  font-weight: normal;
}

button {
  background: #4b5648;
  color: #ffffff;
  padding: 10px 40px;
  cursor: pointer;
}