.products {
  background: #fcfcfa;
  &__header {
    background: #fcfcfa;
    padding: 40px 100px 30px;
    text-align: left;
    font-family: Muli;
    max-width: 1440px;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      font-weight: normal;

      @media only screen and (max-width: 768px) {
        font-size: 28px;
      }
    }
    @media only screen and (max-width: 768px) {
      padding: 40px 20px 30px;
    }
  }

  &__subheader {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__container {
    background: #e2e7e3;
    min-height: 100vh;
    padding: 40px 10px;

    &--list {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 80px;
      justify-items: center;
      max-width: 1440px;
      margin: 0 auto;

      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  img {
    max-width: 60%;
    max-height: 100px;
  }

  &__title {
    margin-top: 40px;
  }

  &__price {
    display: flex;
    margin-bottom: 20px;
    span {
      margin-left: 2px;
    }
  }
}
